@import './colors.scss';

:root {
    @import url("https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap");
}




h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
    line-height: 160%;
}
body{
margin:0;
font-family: 'Oswald', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background:#ff9999;;
}

#app{
    max-width:500px;
    margin: 0 auto;
}

    div{
        padding: 8rem 1,4rem;
        box-sizing: border-box;
        background: url('../graphics/graphics-header.svg'), url('../graphics/graphics-footer.svg');
        background-position: top center, bottom center;
        background-repeat: no-repeat, no-repeat;
        background-size: 100%;
    }
    .headerimg{
        width: 100%;
    }


