@import './colors.scss';

:root {
    @import url("https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap");
}




h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
    line-height: 160%;
}

body{
margin:0;
font-family: 'Oswald', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background:#ff9999;;
}



#app{
    max-width:500px;
    margin: 0 auto;

    
    div{
        padding: 8rem 1,4rem;
        box-sizing: border-box;
    }
    
}

header {
    height: 150px;
    background: url('../graphics/graphics-header.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  footer {
    height: 150px;
    background: url('../graphics/graphics-footer.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:50px;
  }

//animations

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}

